@page "/chat"
@inject HubConnection Connection

<h1>Chat</h1>

<EditForm Model="@_form" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        @foreach (var item in Messages)
        {
            <div>
                <p class="m-0 text-bold">@item.Author</p>
                <p>@item.Message</p>
            </div>
        }
    </div>

    <div class="form-group">
        <InputText @bind-Value="_form.Message"
            class="form-control"
            placeholder="Type a message..." />

    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

@code {

    public class MessageForm
    {
        [Required]
        public string Message { get; set; }
    }

    private readonly MessageForm _form = new MessageForm();

    public List<ChatMessage> Messages { get; } = new List<ChatMessage>();

    protected override async Task OnInitializedAsync()
    {
        Connection.On("ReceiveMessage", (ChatMessage message) =>
        {
            Messages.Add(message);
            StateHasChanged();
        });

        await Connection.StartAsync();
    }

    public async Task HandleSubmit()
    {
        await Connection.SendAsync("SendMessage", "TODO: User", _form.Message);
        _form.Message = "";
    }
}
