<div class="Header">
  <div class="Header-item">
    <NavLink class="Header-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>
  </div>
  <div class="Header-item">
    <NavLink class="Header-link" href="counter" Match="NavLinkMatch.All">
        Counter
    </NavLink>
  </div>
  <div class="Header-item">
    <NavLink class="Header-link" href="fetchdata" Match="NavLinkMatch.All">
        Fetch data
    </NavLink>
  </div>
  <div class="Header-item">
    <NavLink class="Header-link" href="chat" Match="NavLinkMatch.All">
        Chat
    </NavLink>
  </div>
</div>

@code {
}
