<nav class="UnderlineNav">
    <div class="UnderlineNav-body" role="tablist">
        <NavLink class="UnderlineNav-item" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
        <NavLink class="UnderlineNav-item" href="counter">
            Counter
        </NavLink>
        <NavLink class="UnderlineNav-item" href="fetchdata">
            Fetch data
        </NavLink>
        <NavLink class="UnderlineNav-item" href="chat">
            Chat
        </NavLink>
    </div>
</nav>

@code {
}
